Package: crtmpserver
Section: streaming
Priority: optional
Maintainer: Gavriloaie Eugen-Andrei <support@rtmpd.com>
Homepage: http://www.rtmpd.com/
Description: C++ RTMP Server
 This is a C++ implementation for a general-purpose networking
 platform. Yes, it knows RTMP protocol but that is just only
 a tiny part of it. The platform supports other protocols as well:
 RTSP, LiveFLV, HTTP, MPEG-TS, etc

